.search {
    width: 100%;
    max-width: 780px;

    height: 46px;

    border: none;
    outline: none;

    background: #eceaea;

    border-radius: 10px;

    padding: 0 18px;

    font-size: 18px;

    margin-bottom: 48px;
}

.search::placeholder {
    color: #9a9aa1;
}
